{
  "success": true,
  "message": "Order placed successfully",
  "data": {
    "order": {
      "user": "6a169075e08ae52703a6536a",
      "items": [
        {
          "product": {
            "_id": "6a1843d988c48fe93cf847cc",
            "name": "Mirza Air Runner",
            "slug": "mirza-air-runner",
            "description": "Premium running shoes with air cushion technology for maximum comfort",
            "shortDescription": "LIghtweight air cushion running shoe",
            "price": 2999,
            "category": "6a183544a965894bdfb030c1",
            "brand": "Mirza Footwear",
            "images": [
              "https://res.cloudinary.com/dle1emzcd/image/upload/v1779975128/mirza-footwear/products/faka0ddnakukeobuobrz.jpg"
            ],
            "sizes": [
              {
                "size": 7,
                "stock": 10
              },
              {
                "size": 8,
                "stock": 15
              },
              {
                "size": 9,
                "stock": 8
              }
            ],
            "color": "Black",
            "gender": "men",
            "tags": [],
            "isFeatured": false,
            "isActive": true,
            "totalStock": 33,
            "averageRating": 0,
            "totalReviews": 0,
            "createdAt": "2026-05-28T13:32:09.967Z",
            "updatedAt": "2026-05-28T13:32:09.967Z",
            "__v": 0
          },
          "name": "Mirza Air Runner",
          "image": "https://res.cloudinary.com/dle1emzcd/image/upload/v1779975128/mirza-footwear/products/faka0ddnakukeobuobrz.jpg",
          "size": 8,
          "quantity": 2,
          "price": 2999
        }
      ],
      "shippingAddress": {
        "fullName": "Ali Mehdi Mirza",
        "phone": "9876543210",
        "street": "123 Main Street Bandra West",
        "city": "Mumbai",
        "state": "Maharashtra",
        "pincode": "400050",
        "country": "India"
      },
      "itemsTotal": 5998,
      "shippingCharge": 0,
      "taxAmount": 1080,
      "discountAmount": 0,
      "totalAmount": 7078,
      "orderStatus": "pending",
      "paymentStatus": "pending",
      "paymentMethod": "cod",
      "notes": "Please ring the bell twice",
      "_id": "6a196f27d034e54f3eedcc60",
      "createdAt": "2026-05-29T10:49:11.242Z",
      "updatedAt": "2026-05-29T10:49:11.242Z",
      "orderNumber": "MF-2026-00001",
      "__v": 0
    }
  }
}